@import url("http://fonts.googleapis.com/css?family=Lato");

body{
    margin-top: 60px;
}
.section-title{
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.1;
    font-size: 26px;
    margin-top: 0;
}

.navbar-brand{
    font-size: 20px;
    margin-left: 0;
    margin-top: 0;
}

.news-container {
    height: 250px;
}

.news-thumb {
    text-align: center;
    color: #000000;
}

.news-thumb h5 {
    font-weight: bold;
    margin-top: 0;
}

.news-thumb:hover {
    color: #119f00;
    text-decoration: none;
}

.thumbnail {
    margin-bottom: 10px;
    max-height: 200px;
}

.storydetails .poster {
    float: left;
    margin-right: 20px;
}

.storydetails .movie-title {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin-top: 0;
}

.storydetails .btn-info {
    margin-right: 5px;
}

.storydetails .overview {
    font-size: 17px;
    margin: 15px 5% 15px 0px;
}

.storydetails .return-link {
    float: right;
}

.topic-title{
    text-align: right;
    margin-bottom: 10px;
}

.bs-example{
    margin: 20px;
}