<!DOCTYPE html>
<html lang="en" ng-app="ftuAPP" ng-controller="sectionCtrl">
<head>
<meta charset="utf-8">
    <title>Avira FTU Developer Asignment</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a href="#" class="navbar-brand">
            <span class="glyphicon glyphicon-list-alt">News</span>
        </a>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="well col-sm-10 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header section-title">Latest news from around the world</div>
                    </div>
                    <div class="news-container col-sm-2 col-xs-6" ng-repeat="news in storyList | paginate:currentPage:pageSize">
                        <a href="#" class="news-thumb">
                            <img class="thumbnail img-responsive" ng-src="img/posters{{news.poster_path}}">
                            <h5>{{news.title}}</h5>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <pagination class="pagination" total-items="storyList.length" ng-model="currentPage" items-per-page="pageSize"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="app.js"></script>
    <script src="section/section.js"></script>
    <script src="components/paginate/paginate-filter.js"></script>
</body>
</html>